.DS_Store
__pycache__/
*.pyc
.venv/
venv/
*.log
*.engine
*.onnx
*.pt
*.pth
*.ctx.bin
*.tar.gz
*.zip
docs/images/063baf01553ab40fe2c07fd941d9a3ba.jpg
docs/images/067b423bc51e86ba10d7ed49c27bdbe0.jpg
docs/images/4e9ee2e036dfbc8614ec7244af43dff7.jpg
docs/images/d93e1066452df04b05f3b5458e1d7d4c.jpg
.vscode/
.idea/
examples/06_shadow_puppet/save.json
examples/06_shadow_puppet/save.tmp
examples/06_shadow_puppet/.tmp_test/
.tmp_ui/
.tmp_hand/
downloads/
